/**
 * 整个容器
 * 18-2-7
 */
 .my-container {
    position: relative;
    z-index: 2;
}
/**
 * 左侧栏
 * 18-2-7
 */
.side-bar {
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    width: 250px;
    height: 100%;
    background-color: #1a2a6d;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/ui/side-bar-bg.jpg);

    .head-wrapper {
        margin: 5rem auto 1rem;
        width: 50%;
    }
    
    .head-wrapper img {
        border-radius: 50%;
    }
    
    .title {
        color: #fff;
        font-size: 1.5em;
        text-shadow: 0 1px 1px #333;
    }
    
    .decs {
        color: #fff;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.2em;
        text-shadow: 0 1px 1px #333;
    }
    
    .nav {
        margin: 0;
        padding: 1rem 0 0;
    }
    
    .nav li {
        text-align: center;
        line-height: 25px;
    }
    
    .nav a {
        padding: 0;
        color: #fff;
        text-shadow: 0 1px 1px #919191;
        transition: all .3s;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
	color: #2b2b2b;
    background: transparent;
}

/**
 * 文章内容
 * 18-2-7
 */
.content-contain {
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100%;
    background: #fff;
}

/**
 * particles-js
 * 粒子效果
 * 18-2-7
 */
 #particles-js{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/**
 * 文章底部上一篇下一篇
 * 18-2-8
 */
.article-guide {
    line-height: 30px;
    color: $brand-color;
    border-top: 1px solid #e6e6e6;
    
    .article-pre, .article-next {
        margin: 20px 0;
    }
    
    .article-pre {
        float: left;
    }
    
    .article-next {
        float: right;
    }
}

/**
 * 滚动条样式
 * 18-2-7
 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: auto;
}
::-webkit-scrollbar-thumb {
    background-color: #ddd;
    min-height: 25px;
    min-width: 25px;
    border: 1px solid #eee;
}
::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border: 1px solid #eee;
}

@media (max-width: 768px) {
    .side-bar {
        position: static;
        width: 100%;
        margin-bottom: 20px;
        .head-wrapper {
            margin: 5rem auto 1rem;
            width: 20%;
        }
        .nav li {
            display: inline-block;
        }
        .nav li a {
            padding:10px;
        }
    }
    

    .content-contain {
        position: static;
        margin-left: 0;
    }
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 12px;
}

@include media-query($on-laptop) {

}

@include media-query($on-palm) {

}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    padding-top: 30px;
    font-size: 1.8em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding-top: $spacing-unit / 2;
        border-top: 1px #ccc dashed;
    }
}

.post-meta {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-size: 0.8em;
    cursor: pointer;
}

/**
 * Posts
 */
.post-header {
    padding-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 1.8em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 22px;
        @include media-query($on-laptop) {
            font-size: 18px
        }
    }
    
    h2 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size:16px
        }
    }

    h3 {
        font-size: 18px;   
        @include media-query($on-laptop) {
            font-size:14px
        }
    }

    h4 {
        font-size: 16px;   
        @include media-query($on-laptop) {
            font-size:12px
        }
    }

    h5 {
        font-size: 14px;   
        @include media-query($on-laptop) {
            font-size:10px
        }
    }

    h6 {
        font-size: 12px;   
        @include media-query($on-laptop) {
            font-size:8px
        }
    }
    
}
