<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      <div class="side-bar">
      <!--Sidebar content-->
        <div class="head-wrapper">
          <img src="/assets/images/ui/icon.jpg" alt="kuler">
        </div>
        <h1 class="title">库乐君的笔记本</h1>
        <h2 class="decs">所谓文艺，不过是多走一些路，多看一些风景罢了</h2>
        <ul class="nav">
          <li><a href="/">首页</a></li>
          {% for category in site.categories %}
          <li><a href="/categories/{{ category | first }}/" title="view all
          posts">{{ category | first }} {{ category | last | size }}</a>
          </li>
          {% endfor %}
        </ul>
        
      </div>
      <div class="content-contain">
      <!--Body content-->
        {{ content }}

        {% include footer.html %}
      </div>
    </div>

  </body>

</html>
